body{
    text-transform: uppercase;
}

.search-field{
    width: 90%
}

.inline{
    display: inline;
    margin: 5px;
}

.right{
    float:right;
}

.under-search{
    margin-top: 20px
}

.search-result{
    margin-top:30px
}

.sorting-panel{
    margin-top:-30px
}

#faceplate{
    margin:50px;
}

.movies-container{
    display: flex;
}

.movie-face-plate{
    margin: 20px;
    margin-top: 40px;
    width: 200px;
}

.movie-face-plate img{
    height: 300px;
    max-width: 100%;
    min-width: 200px;
}

.movie-face-plate .movie-year{
    margin: 2px;
    padding: 2px;
    border: solid;
    border-width: 1px;
    font-size:11px
}

.movie-face-plate .movie-genre{
    text-transform:none;
}

.movie-info{
    text-transform:none;
    display: flex;
}

.movie-info img{
}

.movie-info .movie-desc{
    display: inline-grid;
    width: 80%;
}